.App {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    font-size: 2rem;
    color: coral;
}
.white{
    color: black;
}